body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/91/LandmineWarningChileTierraDelFuego.jpg');
  background-size: cover;
  font-family: 'Alfa Slab One', cursive;
}

#box {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

#box img {
  width: 100%;
  margin: 0 50px;
}

#box-testo {
  text-align: center;
}
